* {
	font-family: Calibri, sans-serif;
}

html {
	background-color: #edf7e3;
}

header {
	text-align: center;
}

h1 {
	text-shadow: 2px 3px 8px rgba(168, 168, 168, 1);
	margin-bottom: .5em;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(118, 6, 247, 0.75), rgba(0, 0, 0, 0));
}

#contact {
	list-style: none;
}

.about-column1 {
	background-color: hsla(268, 100%, 50%, .1);
	border: 1px solid #ccc;
}

.fas, .fab {
	color: #7606f7;
	transition: all 0.5s ease;
}

.contact-image .fas:hover,
.contact-image .fab:hover {
	color: #3e0184;
}

.contact-image:hover + .contact-link,
.contact-image:hover + .contact-link {
	color: #fff;
	background-color: #7606f7;
}

.contact-link {
	text-decoration: none;
	color: #666;
	transition: all 0.5s ease-out;
}


.contact-link:hover {
	color: #fff;
	background-color: #7606f7;
}

#procontainer article {
	background-color: hsla(268, 100%, 50%, .1);
	border: 1px solid #ccc;
}

article h3 {
	text-align: center;
	text-shadow: 2px 3px 8px rgba(168, 168, 168, 1);
}

.project-link {
	text-align: center;
}

.project-link a {
	text-decoration: none;
	color: #666;
	transition: all 0.5s ease-out;
}

.project-link a:hover {
	color: #fff;
	background-color: #7606f7;
}

.show-project {
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
    font-size: 1em;
    color: #ffffff;
	text-shadow: 2px 3px 8px rgb(19, 19, 19),
				-1px -1px 8px rgb(19, 19, 19);
	background-image: linear-gradient(to bottom, rgba(13, 65, 253, 0.3), rgba(13, 131, 253, .8));
}

.show-project:hover {
	background-image: linear-gradient(to top, rgba(13, 65, 253, 0.3), rgba(13, 131, 253, .8));
}


nav {
	background-image: url("../images/navbar.png");
}

nav p,
nav a {
	color: #fff;
	text-decoration: none;
}

nav a {
	transition: background-color 0.5s ease;
}

nav a:hover {
	background-color: #3e0184;
}

footer {
	text-align: right;
}


