* {
	font-family: Calibri, sans-serif;
}

header {
	text-align: center;
}

h1 {
	text-shadow: 2px 3px 8px rgba(168, 168, 168, 1);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(118, 6, 247, 0.75), rgba(0, 0, 0, 0));
}

#contact {
	list-style: none;
}

.about-column1 {
	background-color: hsla(268, 100%, 50%, .1);
	border: 1px solid #ccc;
}

.fas, .fab {
	color: #7606f7;
}

.contact-link {
	text-decoration: none;
	color: #666;
}

.contact-link:hover {
	color: #7606f7;
	text-decoration: underline;
}

#procontainer article {
	background-color: hsla(268, 100%, 50%, .1);
	border: 1px solid #ccc;
}

article h3 {
	text-align: center;
	text-shadow: 2px 3px 8px rgba(168, 168, 168, 1);
}

.project-link {
	text-align: center;
}

.project-link a {
	text-decoration: none;
	color: #666;
}

.project-link a:hover {
	color: #7606f7;
	text-decoration: underline;
}

nav {
	background-color: #7606f7;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	background-color: #3e0184;
}


