* {
	font-family: Calibri, sans-serif;
}

html {
	width: 80%;
	margin: auto;
}

header {
	text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(118, 6, 247, 0.75), rgba(0, 0, 0, 0));
}

#aboutcontainer {
	display: grid;
	grid-template-columns: 25% 45% 30%;
}

#contact {
	list-style: none;
	padding-left: 0;
}

.about-column {
	padding: 5px;
}

.about-column1 {
	background-color: hsla(268, 100%, 50%, .1);
}

.fas, .fab {
	color: #7606f7;
}

.contact-link {
	text-decoration: none;
	color: #666;
}

.contact-link:hover {
	color: #7606f7;
	text-decoration: underline;
}

#portrait {
	width: 100%;
	justify-self: end;
}

#procontainer {
	display: grid;	
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-column-gap: 1em;
}

#procontainer article {
	background-color: hsla(268, 100%, 50%, .1);

}

article h3 {
	text-align: center;
}

.project-link {
	text-align: center;
}

.project-link a {
	text-decoration: none;
	color: #666;
}

.project-link a:hover {
	color: #7606f7;
	text-decoration: underline;
}

.project-image {
	width: 100%;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	background-color: #7606f7;


	display: flex;
	flex-flow: row;
	justify-content: center;
}

nav a {
	padding: .5em 2em;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	background-color: #3e0184;
}


